---
import Layout from "../layouts/Layout.astro";
import PostCard from "../components/PostCard.astro";
import { getPageInfo, getLastPost, getPostsByCategory } from "../lib/wp";

const { id: pageId, title, content } = await getPageInfo("inicio");

const latestPosts = await getLastPost({ perPage: 3 });

// Definimos las categorías que queremos mostrar
const categories = {
  noticias: {
    id: 9,
    title: "Noticias",
    posts: await getPostsByCategory(9, { perPage: 6 }),
  },
  eventos: {
    id: 3,
    title: "Eventos",
    posts: await getPostsByCategory(3, { perPage: 6 }),
  },
  clic: {
    id: 8,
    title: "CLIC",
    posts: await getPostsByCategory(8, { perPage: 6 }),
  },
  centroUniversitario: {
    id: 7,
    title: "Centro Universitario",
    posts: await getPostsByCategory(7, { perPage: 6 }),
  },
};
---

<head>
  <link
    rel="stylesheet"
    href="https://clic.baradero.gob.ar/wp-content/plugins/elementor/assets/css/frontend.css"
  />
  <link
    rel="stylesheet"
    href={`https://clic.baradero.gob.ar/wp-content/uploads/elementor/css/post-${pageId}.css`}
  />
  <meta charset="UTF-8" />
  <script src="https://clic.baradero.gob.ar/wp-includes/js/jquery/jquery.min.js" is:inline></script>
  <script src="https://clic.baradero.gob.ar/wp-content/plugins/elementor/assets/js/frontend.min.js" is:inline></script>
  <link rel="stylesheet" href="https://clic.baradero.gob.ar/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css" />
  <link rel="stylesheet" href="https://clic.baradero.gob.ar/wp-content/uploads/elementor/css/global.css" />
</head>

<Layout>

  <main class="container mx-auto px-4 py-8">
    <section class="mb-12">
      <h1 class="text-4xl font-bold text-gray-800 mb-4">{title}</h1>
      <div
        set:html={content}
        class="prose lg:prose-lg text-gray-700 leading-relaxed"
      />
    </section>

    <hr class="border-gray-200 my-12" />

    <section>
      <h2 class="text-3xl font-semibold text-gray-800 mb-8">Últimas publicaciones</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {
          latestPosts.map((post: any) => (
            <PostCard post={post} />
          ))
        }
      </div>
    </section>

    <hr class="border-gray-200 my-12" />

    {
      Object.entries(categories).map(([key, category]) => (
        <section class="mt-8">
          <h2 class="text-3xl font-semibold text-gray-800 mb-8">{category.title}</h2>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {
              category.posts.length > 0 ? (
                category.posts.map((post: any) => (
                  <PostCard post={post} />
                ))
              ) : (
                <p class="text-gray-600 text-center col-span-full">
                  No hay publicaciones en la categoría de {category.title}.
                </p>
              )
            }
          </div>
          <hr class="border-gray-200 my-12" />
        </section>
      ))
    }
  </main>
<style is:global>
  h2 {
    color: #2B72AC !important;
  }
  .elementor-button{
    background-color: #2B72AC;
  }
  .elementor-button:hover{
    background-color: #185688;
  }
  
  .elementor-element.elementor-element-745a25a {
  display: flex;
  justify-content: center;
  align-items: center;
}

</style>
</Layout>