---
import Layout from "../layouts/Layout.astro";
import { getPageInfo, getLastPost } from "../lib/wp";
const { title, content } = await getPageInfo("sample-page");
const posts = await getLastPost({ perPage: 3 });
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <h1>{title}</h1>
  <div set:html={content} class="pl-5" />
  {
    posts.map((post: any) => {
      return (
        <section class=" mx-auto p-5 m-5">
          <div class="border shadow-sm">
            <h1>{post.title}</h1>
            <ul class="flex flex-row">
              <li>{post.date}</li>
              <li>{post.author}</li>
            </ul>
            <div set:html={post.excerpt} />
            <img src={post.featuredImage} />
          </div>
          <a href={`/noticias${post.slug}`}> ver mas informacion </a>
        </section>
      );
    })
  }
</Layout>
